@import url('https://fonts.cdnfonts.com/css/lato');

.hidden {
	display: none !important;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img{
	display: block;
	max-width: 100%;
}

.container{
	width: 1140px;
	margin:auto;
}

.body {
    width: 1600px;
}

.Header{
	background-color: #222222;
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 1600px;
	height: 75px;    
}

.logos{
    display: flex;
    justify-content:flex-start;
    gap: 41px;
}

.lupa{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.kabinet{
    margin-left: 819px;
    width: 158.996px;
    height: 29px;
    flex-shrink: 0;
}

.Promo{
    width: 1600px;
    height: 764px;
    background-color:  #F1E4E6;
    display: flex;
	align-items: center;
}

.Text{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

h1{
    color: #222;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

h2{color: #222;
font-family: Lato;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h3{color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.Offer{
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item{
    position: relative;
}

.item_img{
    filter: brightness(40%);
}

.item_text{
    position: absolute;
    top: 40%;
    color: #E8E8E8;
    width: 100%;
    text-align: center;
}

.item_text_1{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item_text_2{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item_2{
    grid-column: span 3;
}


.title{
    display: grid;
    justify-content: center;
    text-align: center;
}

h4{
    color: #222;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h5{
    color: #9F9F9F;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.product_band{
    width: 1140px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}


.product_case{
    display: flex;
    width: 360px;
    flex-direction: column;
    gap: 16px;

    background-color: #F8F8F8;;
}

.product_tite{
    margin-top: 25px;
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;

}

.product_text{
    margin: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    font-family: Lato;

}

.product_price{
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #F16D7F;
    font-family: Lato;

    margin-bottom: 19px;
}

button{
    width: 212px;
    margin-bottom: 60px;
    margin-left:457px;
    margin-top: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    background: none;

}

.Footer {
    margin: 0 auto;
    background: #222224;
    width: 1600px;
    height: 341px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.Footer_info {
    height: 341px;
    margin: auto;
    display: flex;
    gap: 30px;
}

.Footer_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.Footer_img{
    margin-bottom: 29px ;
    width: 44.989px;
    height: 31.935px;

}

.Footer_title {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px ;
}

.Footer_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #5D5D5D;
}

.Subscribe{
    width: 1598.001px;
    height: 448px;
}

.Footer_subscribe {
    height: 448px;
    background-image: url(./img/footer\ font.png);
    background-repeat: no-repeat;
    background-position: center;
}

.Subscribe_blur {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 415px;
}

.Subscribe_info {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Subscribe_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.footer__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Subscride_main_text {
    text-align: center;
}

.Subscribe_main_text h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.Subscribe_main_text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;

    margin-bottom: 32px ;
}

.Subscribe_button{
    width: 356px;
    height: 49px;
}


.Subscribe_button input{
    width: 256px;
    height: 49px;
    font-family: 'Lato';
    font-size: 14px;
    background: #E1E1E1;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	overflow: hidden;
    padding-left: 22px;
    border: none;
}

.Subscribe_button button{
    width: 100px;

    font-family: 'Lato';
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    padding-left: 15px;
    border: none;

}
.Navbar{
    width: 1598.001px;
    height: 448px;

}

.Footer_navbar {
    height: 79px;
    width: 1600px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Footer_navbar p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
}

.Footer_navbar_icons {
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
}
.Footer_navbar_icons a {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.fa {
    width: 31px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
}

.fa:hover {
    background: #F16D7F;
    color: #FFFFFF;
} 

@media (max-width: 1024px) {
	.container {
        width: 1024px;
	}
	.logos {
		padding-left: 35px;
	}

    .kabinet{
        margin-left: 365px;
    }

    .Promo{
        height: 367.567px;
    }

    .Promo_man{
        max-width: 38%;
    }

    .Text{
        margin-left: 50px;
        height: 92px;  
    }

    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 3vw;
    }

    .h3{
        font-size: 3vw;  
    }

	.Offer {
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 2fr 0.7fr;
		padding-left: 16px;
		padding-right: 270px;
	}
    
    .title{
         margin-right: 250px;
    }

    h5{
        margin-bottom: 30px;
    }

    .product_band{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    button{
        margin-left: 270px;
    }

    .Footer{
        width: 768px;
        height: 610px;
    }

    .Footer_info {
        height: 610px;
        width: 768px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .Footer_card{
        margin: 0 auto;
    }

    .Subscribe{
        width: 768px;
        height: 693px;
    }

    .Footer_subscribe{
        height: 693px;
        width: 768px;
        margin: 0 auto;
        background-size: cover;
    }
    .Subscribe_blur {
        height: 693px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .Subscribe_main_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Navbar {
        width: 768px;
        display: flex;
        justify-content: space-between;
    }

    .Footer_navbar p {
        margin-left: 32px;
    }

    
    .Footer_navbar_icons {
        margin-right: 32px;
    }
}


    @media (max-width: 767px){

    .container {
        width: 767px;
    }

    .logo{
        width: 36px;
        height: 36px;
    }

    .lupa{
        width: 36px;
        height: 36px;
        margin-left: -10px;
    }

    .kabinet{
        margin-left: 90px;     
    }

    .Promo{
        width: 375px;
        height: 363px;
    }

    .Promo_man{
        display: none;
    }

    .Text{
        height: 60px; 
        padding-left: 15px;
    }

    h1{
        font-size: 10vw;
    }

    .Offer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .item{
        width: 293px;
    }

    .item_2{
		height: 111px;
		object-fit: cover;
        position: relative;
		background: #211616b2 70%;
    }

    .item_img{
        object-fit: cover;
        height: 100%;
    }
    .item_img_big{
        object-fit: cover;
        height: 110px;
        position: relative;
		background: #211616b2 100%;
    }


    .title{
        display: flex;
        flex-direction: column;
        margin-left: -200px;
    }
    
    h4{
       font-size: 8vw;
    }

    h5{
        font-size: 1px;
    }


    .product_band{
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        flex-direction: column;
        
    }

    button{
        margin-left: 45px;
    }

    .Footer{
        width: 375px;
        height: 610px;
    }
    
    .footer__subsc_subsc {
        width: 341px;
        height: 123px;
    }
    
    .Footer_card {
        text-align: center;
        height: 129.47px;
    }
    
    .Footer_title {
        line-height: 36px;
        color: #FBFBFB;
        font-size: 20px;
    }
    
    .Footer_text {
        font-size: 13.972px;
    }

    .Footer_subscribe{
        display: flex;
    }
    
    .Subscribe_info {
        width: 343px;
        height: 194px;
        gap: 20px; 
    }
    
    .Subscribe_blur {
        height: 550px;
    }

    .Subscribe_main_text {
        line-height: 153.2%; 
    }

    .Subscribe_button form{
        width: 341px;
        height: 47px;
    }

    .Subscribe_button input{
        width: 245px;
    }
    
    .Subscribe_button button{
        width: 95.7px;
        height: 47px;
    }

    .Navbar{
        width: 375px;
        height: 610px;

    }

    .Footer_navbar {
        width: 375px;
        height: 143px;
        flex-direction: column-reverse;
    }

    .Footer_navbar p {
        margin-left: 0px;
        margin-bottom: 9px;
    }
    
    .Footer_navbar_icons {
        margin-right: 0px;
        margin-top: 43px;
    }

    

}